{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}  

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="{% static 'blog/site.css' %}">
    
</head>
<body>
  <!--bottom popup nav-->
    <div id="target">
        <i class="angle double up icon"></i>Menu
      </div>
    <div class="ui bottomhello bottom demo inverted nine item labeled icon sidebar menu overlay" >
        <a class="item">
          <i class="home icon"></i>
          Home
        </a>
        <a class="item">
          <i class="block layout icon"></i>
          New arrivals
        </a>
       
        <a class="item">
          <i class="calendar icon"></i>
         Orders
        </a>
        
        <a class="item">
          <i class="shop icon"></i>
          Store
        </a>
        <a class="item">
          <i class="settings icon"></i>
          Settings
        </a>
      </div>
      <!--main section of code -->
     <div class="main_section">
       <!--nav -->
     <div class="nav">
      <div class="HEADING" onclick="location.replace('{% url 'blog-home' %}')">
          Heritagia<SUB>INDIA</SUB>
         </div>
        <div class="searchhello"><div class="ui search ">
            <div class="ui icon input">
              <form class="ui icon input" action="{% url 'search_results' %}" method="get">
                <input class="prompt" name="q" type="text" placeholder="Search...">
                <i class="search icon"></i>
              </form>

            </div>
            <a href="#" style=" font-size:18px ;"><i class="chevron circle right icon"></i> </a>
            <div class="results"></div>
          </div>
         </div>
         <div class="hellobuttons"> <div class="ui  buttons">
            <button class="ui inverted button ">Image search</button>
            <div class="or"></div>
            <button class="ui inverted button" onclick="location.replace('/model')">3d models</button>
          </div>
         </div>
          <!--logout -->
     </div>
     <div class="seg_me">
     <div class="left_seg">
      <div class="ui styled fluid accordion">
        <div class="title " onclick="location.replace('/state/Punjab')">
          
          Punjab
          
        </div>
        <div class="title " onclick="location.replace('/state/Assam')">
          
         Assam 
        </div>
        <div class="title" onclick="location.replace('/state/Maharashtra')" >
          
          Maharashtra
        </div>
        <div class="title " onclick="location.replace('/state/Gujarat')">
          
          Gujarat
        </div>
        <div class="title " onclick="location.replace('/state/Haryana')">
          
         Haryana 
        </div>     
      </div>
    </div >
    <div class="logout">
      {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="{% url 'post-create' %}" hidden>New Post</a>
        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile<br></a>
        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a class="nav-item nav-link" href="{% url 'login' %}">Login<br></a>
        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
      {% endif %}
    </div>  



  <div class="right_seg">

    <div class="ui three stackable cards">

    {% comment %} <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article> {% endcomment %}
    {% for post in posts %}
      <div class="card">
        <div class="image">
          <img src="{{ post.post_image.url }}" style='border: 1px solid #1c1c1c3b;	border-radius: 30px; margin: 1px; ' onclick="location.replace('{% url 'post-detail' post.id %}')">

          <a class="article-title" href="{% url 'post-detail' post.id %}" style='padding:13px;'><strong>{{ post.title }}</strong></a> 
          <br><span class="ui teal tag label" style="margin-left:20px;">₹ {{ post.price }}</span>
          <div class="ui star rating" data-rating="3"  data-max-rating="5"></div>
          {% if object in current_order_products %}
            <div class="ui vertical animated button" tabindex="0" onclick="window.location.href='{% url 'users:order_summary' %}'">
              <div class="hidden content">In Cart 
              </div>
              <div class="visible content">
                <i class="shop icon"></i>
              </div>
            </div>                        
          {% else %}
            <div class="ui vertical animated button" tabindex="0" onclick="window.location.href='{% url 'users:add_to_cart' post.id %}'">
              <div class="hidden content">Add 
              </div>
              <div class="visible content">
                <i class="shop icon"></i>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}




      
    </div>

    <div class="ui pagination menu" style="margin:30px;">

    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="item" href="?page=1">First</a>
        <a class="item" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="item active" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="item" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="item" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="item" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}

    </div>
  </div>
     </div>
     
     <div class="ui black inverted center aligned segment">
       <br>Copyright@2020
     </div>

      </div>
    </div>
    
    
     </div>

      <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
      <script>
          $( "#target" ).click(function() {
            $('.bottomhello')
  .sidebar('setting', 'transition', 'overlay')
  .sidebar('toggle')
;
});

         

$('.ui.accordion')
  .accordion()
;
$('.ui.rating')
  .rating()
;

      </script>
</body>
</html>